/* Import Google font */ @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: white;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .color {
    margin: 12px;
    padding: 7px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.container .color:active {
    transform: scale(0.95);
}

.color .rect-box {
    width: 185px;
    height: 188px;
    border-radius: 4px;
}

.color:hover .rect-box {
    filter: brightness(107%);
}

