
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: white;
}

.container {
    margin: 0px;
  padding:48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .color {
    margin: 10px;
    padding: 5px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    background: #fff;
    border-radius: 6px;
   
    transition: all 0.3s ease;
}

.container .color:active {
    transform: scale(0.99);
}

.color .rect-box {
    width: 224px;
    height: 220px;
    border-radius: 4px;
}

.color:hover .rect-box {
    filter: brightness(107%);
}

.color .hex-value {
    display: block;
    color: #444;
    user-select: none;
    font-weight: 400;
    font-size: 1.15rem;
    margin: 2px 0 1px;
    text-transform: uppercase;
}



